.donate{
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 10px;
}

@media screen and (max-width: 480px) {
    .donate{
        background: green;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: white;

    }
    h3{
        text-align: center;
        font-size: 15px;
    }
}