
.footerimg{
    width: 80%;
    height: 80%;
    margin-top: 15px;
}
.mycontainer{
    margin-top: 2px ;
}
.myinfo{
    padding-top: 15px;
    color: white;
    font-weight: 500;
}
.myinfo a{
    color: white;
}
.mycontent{
    align-items: center;
    text-align: center;
    padding-top: 19px;
}
.mycontent li{
    font-size: 30px;
}
.mycolor{
    background: rgb(203, 241, 203);
    width: 100%;
    margin: 0 auto;
}
h4{
    color: green;
    font-weight: 600;
    padding-top: 15px;
}
.list-unstyled li a{
    color: green;
    font-weight: 800;
}
@media screen and (max-width: 480px)  {
    .footerimg{
        align-items: center;
        width: 30%;
        height: 30%;
        margin-left: 35%;
        margin-top: 10px;
    }
    .mycontainer{
        margin-top: 2px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}